@import 'variaveis';

%a{
    width: 100%;
    height: 100%;
    display: inline-block;
    text-decoration: none;
}

// Barra pesquisar
.barra-pesquisar{
    bottom: 50px;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    button{
        background: $var-color-red;
        border: none;
        width: 45px;
        height: 45px;
        cursor: pointer;
        img{
            width: 25px;
        }
    }
    input[type=text]{
        height: 43px;
        padding: 10px;
        border: none;
        width: 400px;
        background-color: rgba(255, 255, 255, 0.7);
    }
}

html{
    font-size: 14px;
    color: #707070;
}

// Background
.bg-gray{
    background: $var-color-gray;
}

.bg-white{
    background: white;
}

.bg-soft-blue{
    background: $var-color-soft-blue;
}


h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
    font-weight: 400;
    &.color-white{
        color: #fff;
    }
    &.color-green{
        color: $var-color-green;
    }
}

.no-gutters{
    padding: 0px;
}

// buttons
.btn-liga{
    text-transform: uppercase;
    border-radius: 0px;
    background: none;
    cursor: pointer;
    padding: 5px 20px;
    &.btn-type-1{
        border: 1px solid $var-color-red;
        color: $var-color-red;
    }
    &.btn-type-2{
        border: 1px solid #fff;
        color: #fff;
    }
} 

a.btn-type-1:hover{
    background: $var-color-red;
    color: #fff;
}

// Barra contato
.barra-contato{
    font-size: 12px;
    padding: 5px 0px;
    background: $var-color-red;
}

.background-img{
    background-size: 100% 100%;
}

// Botao pesquisar
header{
    position: relative;
    .barra-pesquisar{
        z-index: 999;
        position: absolute;
    }
}

// formulario contato/sugestao
.parallax{
    background-image:url("../../img/wallpaper-paralax.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .formulario-contato-index input[type=text]{
        width: 100%;
        padding: 10px;
        border: none;
        background-color: rgba(255, 255, 255, 0.7);
        margin-bottom: 10px;
    }
    .formulario-contato-index textarea{
        width: 100%;
        padding: 10px;
        height: 100px;
        margin-bottom: 10px;
        border: none;
        background-color: rgba(255, 255, 255, 0.7);
    }
    .formulario-contato-index button:hover{
        background: white;
        color: $var-color-green;
    }
}

// barra menu
.barra-menu{
    height: $var-height;
    background: #fff;
    .bt-login{
        background: $var-color-green;
        color: white;
        line-height: $var-height;
        transition: 0.3s;
        a{
            color: white;
            @extend %a;
        }
    }
    .bt-login:hover{
        background:$var-color-hardgreen;
    }
    .row{
        height: 100%;
    }
    .menu-horizontal{
        border-left: 1px solid #d2d2d2; 
        height: 80px;
    }
    .menu-horizontal a{
        line-height: $var-height;
        color: #707070;
        @extend %a;
    }
    .menu-horizontal.no-gutters a:hover{
        border-bottom: 4px solid $var-color-red;
    }
}

.icons-redes-sociais{
    font-size: 0px;
    img{
        width: 18px;
    }
}

.container-rodape{
    background: $var-color-green;
    color: #fff;
    .info-endereco{
        border-left: 1px solid #fff;
    }
    .copyright{
        font-size: 11px;
        text-align: right;
        p{
            margin-bottom: 3px;
        }
    }
    ul{
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }
    ul li a, a{
        color: #fff;
    }
    .ir-para-topo{
        width: 50px;
        height: 50px;
        background: $var-color-red;
        position: fixed;
        right: 10px;
        bottom: 10px;
        text-align: center;
        display:none;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        img{
            width: 25px;
            margin-top: 10px;
        }
    }
}

section{
    padding: 80px 0px;
}


.container-cursos { 
    ul.lista-cursos { text-align: center; 
        width: 10000em; position: relative; list-style: none; margin: 0; padding: 0;
        h6 { margin-bottom: 30px; }
        .card-img { height: 75px; background-position: center; border-radius: 50%; width: 75px; margin: auto; }
        .card { border-radius: initial; border: 1px solid #00874b; min-height: 330px; }
        li { width: 275px; float: left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
            p { flex: 1 0 auto; }
            a { color: #212529; text-decoration: none; }
            a .card:hover { border: 1px solid #abdbc7; -webkit-box-shadow: 0px 0px 12px -1px #abdbc7; -moz-box-shadow: 0px 0px 12px -1px #abdbc7; box-shadow: 0px 0px 12px -1px #abdbc7; }
        }
    }
    .visible-only-xs,  .visible-smaller-lg{
        display: none;
    }
    .capa-curso{
        margin: 10px 0px;
        max-width: 400px;
    }
}

/* Pagina com todos os cursos 'saiba-mais' */
#info-cursos{
    background-image: url('../../img/student.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    background-color: $var-color-green;
    position: relative;
    min-height: 370px;
    .menu-de-cursos{
        position: relative;
        bottom: -125px;
        a.link-menu-de-cursos{
            background: white;
            padding: 25px 0px;
            border: 1px solid #d2d2d2;
            color: $var-color-green; 
            font-size: 16px;     
        }
        a.link-menu-de-cursos:hover,
        a.link-menu-de-cursos.ativo{
            text-decoration: none;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            border-bottom: 1px solid $var-color-red;
            color: $var-color-red;
            background: linear-gradient(0deg, $var-color-red 2px, white 5px);
        }
    }
}

#calendario{
    .eventos-calendario{
        list-style-type: none;
        min-width: 100%;
        background: white;
        margin-bottom: 10px;
        border: 1px solid $var-color-green;
        display: inherit;
        height: auto;
        overflow: hidden;
        padding-top: 15px;
        .show-date{ 
            font-weight: bolder;
            color: $var-color-green;
            p.dia_evento{
                font-size: 30px;
            }
            p.mes_evento{
                font-size: 20px;
                line-height: 5px;
            }
        }
    }
    .titulo{
        font-weight: bold;
    }
}

#comentarios-alunos{
    ul.depoimentos p{
        color:#707070;
    }
    ul.depoimentos span{
        float: right;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-bottom: 4px solid white;
        border-top:1px solid #e1e1e1;
        background: white;
        line-height: 25px !important;
    }
}

.dropdown:hover .dropdown-content {
    display: block;
}

.menu-mobile{
    .menu-link {
        float: left;
        i{
            font-size: 40px;
            margin-top: 16px;
            color: $var-color-green;
            margin-right: 15px;
        }
    }
    img{
        margin: 10px 0px;
    }
}

.wrap {
    position: relative;
}

#menu{
    background: $var-color-green;
    a{
        color: white;
    }
    .menu-list .list-group-item{
        background: $var-color-green;
        .fa.fa-caret-down{
            float: right;
        }
    }
        .collapse .list-group-item{
            background: $var-color-hardgreen;
        }
        .collapse a.list-group-item{
            padding-left: 35px;
        }
}
.menu-mobile{
    display: none !important;  
}

.carousel-item {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center top;
    background-size: 100% auto;
    width: 100vw;
    height: 30vw;
  }

@media (max-width:992px){
    .barra-menu{
        display: none !important;
    }  
    .menu-mobile{
        display: block !important;  
    }  
    .container-rodape .copyright{
        text-align: center;
    }
    .container-cursos
    .visible-smaller-lg{
        display: block;
    }
}

@media (max-width: 440px){
    .barra-pesquisar{
        width: 80%;
        input[type="text"]{
            width: 100%;
        }
    }
}

@media (max-width: 409px){
    .container-cursos
    .visible-only-xs{
        display: block;
    }
}

a.link_slideshow{
    width: 100%;
    height: 100%;
    display: block;
}

.not-display{
    display: none;
}

.card-informacoes-curso{
    position: absolute;
    bottom: -40px;
    padding: 20px 0px;
    color: $var-color-green;
    text-transform: uppercase;
    background: #fff;
    font-size: 12px;
    line-height: 19px;
    -webkit-box-shadow: 0px 0px 12px -1px #abdbc7; 
    -moz-box-shadow: 0px 0px 12px -1px #abdbc7; 
    box-shadow: 0px 0px 12px -1px #abdbc7; 
    span{
        font-size: 25px;
    }
}

#coordenador{
    background: #e5f3ed;
    color: #848685;
    h4{
        margin-bottom: 30px;
    }
}

.btn-action{
    background: $var-color-green;
    color: white;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: inherit;
    transition: 0.3s;
    a{
        color: white;
        @extend %a;
    }
}
.btn-action:hover{
    background:$var-color-hardgreen;
}

#navigation{
    text-align: center;
    margin-bottom: 15px;
    ul{
        margin: 0;
        padding: 0;
        li
        {
            list-style-type: none;
            display: inline;
            line-height: 15px;
            a{
                color: $var-color-gray;
                padding-bottom: 3px;
            }
            a:hover{
                text-decoration: none;
                border-bottom: 3px solid $var-color-red;
            }
        }
        li:not(:first-child):before {
            content: " | ";
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}