$var-height: 80px;
$var-color-red: #c3281e;
$var-color-green: #00874b;
$var-color-hardgreen: #005e34;
$var-color-gray: #707070;
$var-color-soft-blue: #e5f3ed;

// Backgroud paginas internas
$background-eventos: url('../../img/student.jpg');
$background-cursos: url('../../img/student.jpg');
$background-residencia: url('../../img/student.jpg');